/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

/* Navigációs sáv kék színű */
.navbar {
    background-color: #007bff; /* Kék háttér */
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.8em;
    color: #fff;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #d1d1d1 !important;
}

/* Képek középre igazítása */
.center {
    text-align: center;
}

/* Egyéb szakaszok stílusai */
.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* A nav sáv fix tetejű legyen */
.navbar.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

h2 {
    color: #343a40;
    font-size: 1.8em;
    margin-bottom: 15px;
}

p {
    font-size: 1.1em;
    line-height: 1.6;
}

.mt-5.pt-5 {
    margin-top: 70px;
    padding-top: 20px;
}

/* Navigációs gombok balra és jobbra pozicionálása */
.carousel-control-prev {
    left: 0; /* Bal oldalra pozícionálás */
}

.carousel-control-next {
    right: 0; /* Jobb oldalra pozícionálás */
}

/* Gombok alapméret és háttérstílus */
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(2.25rem + 4px);
    height: calc(2.25rem + 4px);
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

/* Hover effektus */
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(128, 128, 128, 0.8);
}

/* Ikonok stílusa */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 1rem;
    height: 1rem;
}
